$color-primary: #d3ab55;
$color-secondary: #bbb;
$color-white: #fff;
$color-black: #000;
$color-dark: #262626;

$font-dancingScript: 'Dancing Script', cursive;
$font-josefinSans: 'Josefin Sans', sans-serif;
$font-nunito: 'Nunito', sans-serif;
