@mixin btn {
  @include textStyles;
  cursor: pointer;
  padding: 0.8rem 1.8rem;
  color: $color-primary;
  border: $color-primary 1px solid;
  background-color: transparent;
  transition: all 0.2s ease-in;
  &:hover {
    color: #fff;
    background-color: $color-primary;
  }
}

@mixin brand {
  @include flexLayout;
  @include textStyles;
  img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: $color-primary 3px solid;
  }
  div {
    font-family: $font-nunito;
    color: $color-secondary;
    margin-left: 20px;

    .main-name {
      font-size: 3.2em;
      font-weight: 400;
    }

    .sub-name {
      font-size: 1.2em;
      font-weight: 300;
    }
  }
}

@mixin flexLayout {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin textStyles($transform: uppercase) {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: $transform;
}
